html { 
  background: url(http://students.iitk.ac.in/eclub/assets/images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
	
}

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
	text-align: center;
}

p {
text-align: center;
	
}
.hero {
  
}

body {

	 text-align: center;
}

.phoneaddress {

	text-align: center;
}

.pro {
color: #FF00FF
	text-align: center;
}


ul#menu li {
    display:inline;
	margin: 80px;
}

